body { height:1000px; background-image:linear-gradient(to left,#2b5876,#4e4376); }
.initials a { font-family:open sans; font-weight:300; color:#fff; font-size:20px; text-align:center; text-decoration:none; border:2px solid #fff; border-radius:100%; width:33px; height:33px; display:block;}
.initials a:hover { background-color:#fff; color:#000; }
.mainlinks a { font-family:nunito; font-weight:600; color:#fff; font-size:12px; text-transform:uppercase; text-decoration:none; display:block; border:1px solid transparent; border-radius:6px;  padding:2px 6px 2px 6px; }
.mainheader { width:100%; position:fixed; background-color:#212126; z-index:99; height:60px; }
.headertext{ position:absolute; left:0px; right:0px; top:10px; }
.mainlinks a:hover { border:1px solid #fff; } 

body::-webkit-scrollbar { width: 15px; }
body::-webkit-scrollbar-track { background-color:#fff; } 
body::-webkit-scrollbar-thumb { border: 1px solid #fff; background-image:linear-gradient(to top,#2b5876,#4e4376); } 