body { background: #8a2387; 
  background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); 
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);  }
.mainlinks { font-family:open sans; font-weight:400; font-size:20px; text-transform:uppercase; color:#fff; }
.mainlinks a { text-decoration:none; background:transparent; color:#fff; padding:10px; border-radius:30px; word-spacing:20px; margin-left:10px; margin-right:10px; border:5px solid #fff; }
.mainlinks a:hover { background-color:#fff; color:#8a2387; border:5px solid #fff; }