.portfoliodisplay a { text-decoration:none; }
.portfoliodisplay { display: flex; flex-wrap: wrap; justify-content: center; }

.portfolioitem { z-index:1; position:relative; color:#555; width:300px; height:300px; border:1px solid #e0e0e0; border-radius:10px; overflow:hidden; background-color:#fff; transition-duration:.5s;  margin:40px; float:left; }
.portfolioitem:hover { transition-duration:.5s; transform:scale(1.2,1.2); -webkit-transform:scale(1.05,1.05); }
.portfoliotag { border-radius:3px; margin-left:10px; padding:3px; font-family:open sans; font-weight:600; color:#fff; text-transform:uppercase; font-size:9px; display:inline; float:left; }
.portfoliodesc { padding:10px; font-family:open sans; font-size:11px; text-align:justify; line-height:16px; }
.itemtitle { font-family:open sans; font-weight:300; font-size:20px; text-align:left; padding:10px 10px 3px 10px; }
.itemtitle b { font-weight:400; }
.itempreview { width:300px; height:170px; background-size:cover; background-position:center; border-bottom:1px solid #e0e0e0;}
.sectiontitle { z-index:0; position:absolute; margin-top:-50px; left:0px; right:0px; font-family:open sans; font-weight:800; letter-spacing:-7px; color:#e1e1e1; font-size:105px; solid #888; }
 .portfoliowrap { width:100%; position:relative; }

#uxtag { background-color:#9c5ee2; }
#apptag { background-color:#e25e6d; }
#brandingtag { background-color:#ed6c39; }
#merchtag { background-color:#c54c77; }
#graphictag { background-color:#789252; }
#postertag { background-color:#d55f5f; }
#layouttag { background-color:#e26de9; }
#greetingcardtag { background-color:#4acaa7; }